<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_head.html :: common_head(~{::title}, ~{::script}, ~{::link})">
    <title>User Profile</title>
    <script></script>
    <link rel="stylesheet" type="text/css" href="/static/css/user_profile.css">
</head>
<body class="lots-main-page-body">
<div class="container">
    <div id="user-wrapper">
        <div id="user-profile-avatar">
            <div id="avatar">
                <img id="avatar-img" src="/static/img/default_avatar.png" alt="Profile picture">
            </div>
        </div>
        <div id="skills" class="lots-box">
            <h1>Skills</h1>
        </div>
        <div id="achievements" class="lots-box">
            <h1>Achievements</h1>
        </div>
        <div id="inventory" class="lots-box">
            <h1>Inventory</h1>
        </div>
    </div>
</div>
</body>
</html>
