<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<form action="#" method="post">
    <h2>Log in</h2>
    <label for="name" class="floatLabel">Name</label>
    <input id="name" name="name" type="text">
    <label for="password" class="floatLabel">Password</label>
    <input id="password" name="password" type="password">
    <input type="submit" value="Log in" id="submit">
    <p>Not registered? <a href="/registration">Create an account</a></p>
</form>
</body>
</html>