<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_head.html :: common_head(~{::title}, ~{::script})">
    <meta charset="UTF-8">
    <title>Login</title>
    <script></script>
</head>

<body>
<form action="#" method="post">
    <h2>Log in</h2>
    <label for="name" class="floatLabel">Name</label>
    <input id="name" name="name" type="text">
    <label for="password" class="floatLabel">Password</label>
    <input id="password" name="password" type="password">
    <input type="submit" value="Log in" id="submit">
    <p>Not registered? <a href="/registration">Create an account</a></p>
</form>
</body>
</html>