<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common_head.html :: common_head(~{::title}, ~{::script})">
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="/static/js/registration.js" defer></script>
</head>

<body class="lots-main-page-body">
<div class="container lots-font-color-white">
    <div class="registration_css_grid_wrapper">
        <form class="login_form">
            <h1 class="mb-5">Sign Up</h1>
            <div class="form-group">
                <label for="name" class="floatLabel">Username</label>
                <input id="name" class="form-control lots-input-field" name="name" type="text" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email" class="floatLabel">Email</label>
                <input id="email" class="form-control lots-input-field" name="email" type="email"
                       placeholder="Email address">
            </div>
            <div class="form-group">
                <label for="password" class="floatLabel">Password (longer than 8 characters)</label>
                <input id="password" class="form-control lots-input-field" name="password" type="password"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="floatLabel">Confirm your password</label>
                <input id="confirmPassword" class="form-control lots-input-field" name="confirmPassword" type="password"
                       placeholder="Confirm password">
            </div>
            <div class="alert alert-danger" role="alert" id="alertMessage" style="display: none"></div>
            <div class="form-group">
                <button type="button" class="btn btn-dark" value="Create My Account" id="submit">Create my account
                </button>
            </div>
        </form>
    </div>
</div>
</body>

</html>