<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head.html :: common_head(~{::title}, ~{::script})">
<!--<head>-->
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="js/login.js" defer="defer"></script>

</head>

<body class="lots-main-page-body">
<div class="container lots-font-color-white">
    <div class="login_css_grid_wrapper">
        <div class="login_form">
            <form action="#" method="post">
                <h1 class="mb-3">Log in</h1>
                <div class="form-group">
                    <input id="name" class="form-control lots-input-field" name="name" type="text" placeholder="Name" />
                </div>
                <div class="form-group">
                    <input id="password" class="form-control lots-input-field" name="password" type="password"
                           placeholder="Password" />
                </div>
                <div class="alert alert-warning" role="alert" id="alertMessage" style="display: none"></div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark" value="Log in" id="submit">Log in</button>
                    <p class="mt-2">Not registered? <a class="lots-font-color-gold" href="/registration">Create an account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>