<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light bg-dark" th:fragment>
    <a class="navbar-brand lots-font-color-white" href="/index">Codecubator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lots-font-color-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quests
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item lots-font-color-white bg-dark" href="/coding-assignments">Coding quests</a>
                    <a class="dropdown-item lots-font-color-white bg-dark" href="/quiz-assignments">Quiz quests</a>
                    <div class="lots-bot_divider"></div>
                    <a class="dropdown-item lots-font-color-white bg-dark" href="/mastery-assignments">Mastery
                        quests</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="list-item-search">
                <form id="demo-2">
                    <input type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item dropdown user-dropdown">
                <a class="nav-link dropdown-toggle lots-font-color-white" href="#" id="navbarDropdown2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:inline="text">
                    <i class="far fa-user"></i>
                    [[${user_name}]]
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item lots-font-color-white bg-dark" href="/user-profile">Profile</a>
                    <div class="lots-bot_divider"></div>
                    <a class="dropdown-item lots-font-color-white bg-dark" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

