<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>Example</display-name>
    <description>Example web showing handling of servlets w/ constructors.</description>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Initialization</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.InitializationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletLogin</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletLogout</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletRegistration</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Assignments</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletAssignments</param-value>
        </init-param>
        <load-on-startup>8</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Assignments</servlet-name>
        <url-pattern>/quiz-assignments</url-pattern>
        <url-pattern>/coding-assignments</url-pattern>
        <url-pattern>/mastery-assignments</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletIndex</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletUserProfile</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user-profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CodingAssignment</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletCodingAssignment</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CodingAssignment</servlet-name>
        <url-pattern>/coding-assignment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizAssignmentController</servlet-name>
        <servlet-class>com.codecool.poop.controller.controller_manager.DelegateHttpServlet</servlet-class>

        <init-param>
            <param-name>servletContextKey</param-name>
            <param-value>servletQuizAssignment</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizAssignmentController</servlet-name>
        <url-pattern>/quiz-assignment</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>