<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head.html :: common_head(~{::title}, ~{::script})">
    <title>White Room</title>
    <script></script>
</head>
<body class="lots-main-page-body">
<div th:include="fragments/navbar.html"></div>
<div class="container">
    <div class="lots-box assignments">
        <h1 class="assignment-box-title">Progbasic</h1>
            <div class="quiz-assignments">

            </div>
            <div class="coding-assignments">
                
            </div>
    </div>
</div>
</body>
</html>
